.container-navbar {
  background-color: #ffffff;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-navbar h1 {
  cursor: pointer;
  font-weight: 800;
  color: rgb(79, 116, 216);
}

.search {
  height: 70%;
  background-color: rgb(197, 197, 197);
  display: flex;
  align-items: center;
  flex: 0.8;
  justify-content: center;
}

.search:focus {
  outline: 1px solid coral;
}

.search input {
  width: 95%;
  height: 90%;
  outline: none;
  border: none;
  /* border: 1px solid red; */
}

.search button {
  width: 7%;
  height: 100%;
  background: #7565ce;
  padding: 0;
  border: none;
}

.options {
  color: black;
  height: 80%;
  display: flex;
  align-items: center;
}
.ForCart {
  text-decoration: none;
}
.ForCart:hover {
  color: #fdbc69;
}

.account {
  flex-direction: column;
}

.account small {
  font-size: 20px;
}
